
.entete{

    background-color: rgb(114, 185, 160) !important;
    color:azure !important;
    font-weight: 500 !important;
}

.entete:hover {
    background-color: gold !important;
  }

  .accordion-button {
    background-color: rgb(114, 185, 160);
    border-radius: 10px;
  }
  .accordion-button:hover {
    background-color: rgb(8, 172, 117) !important;
    color: aliceblue;
  }
  .accordion-button:focus {
    box-shadow: none;
  }
  .accordion-button:not(.collapsed) {
    color: #212529;
  }

  .iconDelete {
    transition: transform .7s ease-in-out;
  }

  .iconDelete:hover {
    transform: rotate(360deg);
  }
  .list-group-item{
    background: transparent !important;
  }
  .accordion-header{
    background: transparent !important;
  }