.bg-gris{
    background-color: rgba(149, 174, 179, 0.856);
    border-color: white;
}
.bg-gris:hover{
    background-color: rgb(114, 185, 160);
    transition-duration: 10ms;
    border-color: rgba(7, 231, 157, 0.842);
}
.margin{
    margin-right: 2px;
}

.deleteModale{
    background-color: transparent !important;
    border-color: transparent !important;
    color:bisque;
}
.deleteModale:hover{
    color:rgb(189, 11, 11);
}